@charset "utf-8";
/* CSS Document */
.Navigation{text-align: center;font-family: simhei;font-size: 35px;color: white;padding-left: 80px;float: right;margin-top: 20px;margin-right: 50px}
		.TitleBox{border: solid 1px #46F17F;background: url(../img/panda.jpg);background-size: cover;width: 1900px;height: 400px;margin-bottom: 100px;cursor:auto}
		.Footer{text-align: center;font-family: simhei;font-size: 10px;background-color: slategray;height: 100px;padding-top: 80px;margin-top: 400px}
		.Text{width:1200px;margin-left: 350px;background-image: url(../img/beijing3.png)}
		table{border: 0px;font-family: simhei}
		td{font-size: 20px;color: black;font-family: simhei;text-align: center}
		body{background-image: url(../img/beijing2.jpg)}
		.TitleBox a:link{color: aliceblue;text-decoration: none}
		.TitleBox a:visited{color: aliceblue}
		.Title{text-align: center;color: black;font-family: simhei;font-size: 40px}
		.Navigation a:hover{color: #369E25}
